.container {
  max-width: 320px;
  
  margin: 0 auto;
  padding: 0 20px;
}



/*
------------------------------------------------------------------
========================= МЕДИАВЫРАЖЕНИЯ =========================
------------------------------------------------------------------
*/

// *** ширина вьюпорта: "Планшет" ***
@media (min-width: $width--tablet) {
  .container {
    max-width: $width--tablet;
  }
}


// *** ширина вьюпорта: "Десктоп" ***
@media (min-width: $width--tablet) {
  .container {
    max-width: 960px;
  }
}