.main-content {
  margin-top: 40px;
}

.main-content__header {
  display: flex;
  flex-wrap: wrap;

  width: auto;
  min-height: 200px;

  background-color: $background-color--blocks;
}

.main-content__placeholder-text {
  margin: auto;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $white;
  text-transform: uppercase;
}

.main-content__cards-list {
  margin-top: 40px;
  background-color: $background-color--blocks;
}

.main-content__footer {
  margin-top: 40px;
  background-color: $background-color--blocks;
}

.main-content__footer-column {
  display: flex;
  flex-wrap: wrap;

  width: auto;
  min-height: 100px;

  margin-bottom: 10px;
  background-color: $silver;


  &:last-child {
    margin-bottom: 0;
  }
}

.main-content__footer-placeholder-text {
  margin: auto;
  text-transform: uppercase;
}



/*
------------------------------------------------------------------
========================= МЕДИАВЫРАЖЕНИЯ =========================
------------------------------------------------------------------
*/

// *** ширина вьюпорта: "Планшет" ***
@media (min-width: $width--tablet) {
  .main-content {
    margin-top: 0;
  }

  .main-content__cards-list {
    margin-top: 20px;
  }

  .main-content__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 6px;
  }

  .main-content__footer-column {
    margin: 0;
    text-align: center;
  }
}