.navigation-list {
  @include markerless;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation-list__item {
  flex-grow: 1;

  text-align: center;
  border-right: 2px solid $black;

  &:nth-child(2n),
  &:last-child {
    border-right: none;
  }
}

.navigation-list__item-link {
  display: inline-block;
  width: 100%;

  padding: 4px 8px;

  color: $black;
  text-decoration: none;

  transition-property: background-color;
  transition-duration: 0.08s;
  transition-timing-function: ease;
}


/*
*** Стили интерактивности элементов ***
*/
.navigation-list__item-link:hover,
.navigation-list__item-link:focus {
  background-color: $gray;
}



/*
------------------------------------------------------------------
========================= МЕДИАВЫРАЖЕНИЯ =========================
------------------------------------------------------------------
*/

// *** ширина вьюпорта: "Планшет" ***
@media (min-width: $width--tablet) {
  .navigation-list__item {
    &:nth-child(2n) {
      border-right: 2px solid $black;
    }

    &:nth-child(3n) {
      border-right: none;
    }
  }
}