.site-main-content {
  margin-top: 40px;
}



/*
------------------------------------------------------------------
========================= МЕДИАВЫРАЖЕНИЯ =========================
------------------------------------------------------------------
*/

// *** ширина вьюпорта: "Планшет" ***
@media (min-width: $width--tablet) {
  .site-main-content {
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-column-gap: 20px;
  }
}