.socials-list {
  @include markerless;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.socials-list__item {
  margin-right: 12px;


  &:last-child {
    margin-right: 0;
  }
}

.socials-list__item-link {
  color: $white;
  text-decoration: none;
}

.socials-list__item-icon {
  transition-property: fill, transform;
  transition-duration: 0.08s;
  transition-timing-function: ease;
}


/*
*** Стили интерактивности элементов ***
*/
.socials-list__item-link:hover .socials-list__item-icon,
.socials-list__item-link:focus .socials-list__item-icon {
  fill: $silver;
}

.socials-list__item-link:active .socials-list__item-icon {
  transform: scale(0.9);
}