// === ПЕРЕМЕННЫЕ ===

// *** для различных Ширин вьюпорта ***
$width--mobile: 320px;
$width--tablet: 768px;
$width--desktop: 1150px;


// *** для Цветов ***
$white: #FFFFFF;
$black: #000000;
$silver: #C0C0C0;
$gray: #808080;

$background-color--main: #DCDCDC;
$background-color--blocks: #696969;